# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# 项目特定文件
*.log
font_metadata.db
arranger_config.json
*.spec
build/
dist/
*.bat

# IDE
.vscode/*
!.vscode/settings.json
.idea/
*.swp
*.swo

# 系统文件
.DS_Store
Thumbs.db 